<script>
  import BonusPointsForm from './BonusPointsForm.svelte';
  import BonusPointsTable from './BonusPointsTable.svelte';
</script>

<h3>Award or Dock Bonus Points</h3>
<BonusPointsForm />
<BonusPointsTable />
