<script lang="ts">
  import { Button, Col, Form, FormGroup, Input, InputGroup, Row } from 'sveltestrap';
  import BlueteamSelect from '../Utils/BlueteamSelect.svelte';
  import type { Team } from '@models/Team';
  import { Gql } from '@db';
  import { EventRole } from '@auth/models';
  import { eventId } from '@stores';
  import Fa from 'svelte-fa';
  import { faTrophy } from '@fortawesome/free-solid-svg-icons';

  let selectedTeam: Team | null = null;
  let pts: number | null;
  let reason: string;

  function awardPoints(e) {
    e.preventDefault();
    const q = `mutation AddBonusPoints {
      insert_scoring_bonus_points_one(
        object: {
          event_id: ${JSON.stringify($eventId)},
          points: ${JSON.stringify(pts)},
          reason: ${JSON.stringify(reason)},
          team_id: ${JSON.stringify(selectedTeam?.id)}
        }
      ) {
        id
        event_id
        team_id
        points
        reason
        time
      }
    }`;
    Gql.query(q, { role: EventRole.EventAdmin });
    selectedTeam = null;
    pts = null;
    reason = '';
  }
</script>

<Form on:submit={awardPoints}>
  <Row>
    <Col sm="12" md="4">
      <InputGroup>
        <BlueteamSelect bind:selectedTeam />
        <Input bind:value={pts} type="number" label="Points" placeholder="50" required />
      </InputGroup>
    </Col>
    <Col sm="12" md="8">
      <FormGroup>
        <Input bind:value={reason} type="text" name="reason" placeholder="Pointed out a bug!" />
        <Button class="pull-right mt-3">
          <Fa icon={faTrophy} /> Award/Dock Points
        </Button>
      </FormGroup>
    </Col>
  </Row>
</Form>
