<script lang="ts">
  import { onMount } from 'svelte';
  import highcharts from '../../highcharts';
  import { build_hc_series, configureChart } from './chartConfig';
  import type { Scores } from '@models/ScoreChart';
  import { ScoresQuery } from '@models/ScoreChart';
  import { Gql } from '@db';
  import type { Team } from '@models/Team';
  import { eventId, keycloak } from '@stores';
  import { GetAllEnabledBlueTeams } from '@queries/Team';
  import type { NullableEventRole } from '@auth/models';

  export let visibleTeams = {};
  export let shortNames: boolean = false;

  let disposeScoresSocket;
  let teams: Array<Team> = Array<Team>();
  let scores;
  let config;

  $: updateVisibleTeams(visibleTeams);
  $: if (scores) {
    visibleTeams; // this exists to trigger a reload of the chart, assigned scores wasn't working
    const teamNames = scores.map((e) => (shortNames ? e.team.name : e.team.long_name || e.team.name));
    const series = build_hc_series(scores);
    config = configureChart(series, teamNames);
  }

  onMount(async () => {
    teams = await GetAllEnabledBlueTeams($eventId);
    // todo handle auth change
    disposeScoresSocket = Gql.subscribeSimple<{ scoreboard_team_summary: { score: Scores }[] }>(
      `subscription ${ScoresQuery($eventId)}`,
      (data) => {
        scores = filterScores(data.scoreboard_team_summary.map((x) => x.score));
      },
    );
  });

  function filterScores(scores) {
    return scores.filter((e) => !(e.team.id in visibleTeams) || visibleTeams[e.team.id]);
  }

  function updateVisibleTeams(visibleTeams) {
    console.log('update vis teams', visibleTeams);
    if (!scores) return;
    scores = filterScores(scores);
  }
</script>

<!-- Prevent the chart from rendering before it has config data -->
{#if config !== undefined}
  <div class="fullscreen" use:highcharts={config} />
{:else}
  <!-- this block renders when config hasn't been set yet -->
  <p>loading...</p>
{/if}
