<script lang="ts">
  import '../../app.scss';
  import NavBar from '@components/NavBar.svelte';
  import Notifications from 'svelte-notifications';
  import { Gql } from '@db';
  import { KeycloakInterface } from '@auth/keycloak';
  import Env from '@env';

  let displayHelp = false;

  async function initializeAuth() {
    setTimeout(() => (displayHelp = true), 2000);
    // Initialize Keycloak
    const keycloak = new KeycloakInterface();
    await keycloak.setupKeycloak();
    // Initialize GraphQL Client, which subscribes to keycloak
    Gql.initialize();
  }
</script>

{#await initializeAuth()}
  <div class="d-flex h-100 align-items-center justify-content-center">
    <div>
      <h1>Loading...</h1>
      {#if displayHelp}
        <p>This is taking longer than expected. Please reach out to the scoreboard administrator.</p>
        <pre>{JSON.stringify(Env, null, 2)}</pre>
      {/if}
    </div>
  </div>
{:then _}
  <NavBar />

  <div class="container-fluid">
    <Notifications>
      <slot />
    </Notifications>
  </div>
{/await}
