<script>
  import ScoreboardFeedback from '@components/ScoreboardFeedback/ScoreboardFeedback.svelte';
  import { requireEventStarted } from '@auth/PermissionRequired';

  const ready = requireEventStarted();
</script>

<svelte:head>
  <title>Service Feedback</title>
</svelte:head>

{#await ready}
  <p>Loading...</p>
{:then ev}
  <div class="container-fluid">
    <h1>Service feedback</h1>

    <p>Select a team from the dropdown to view the detailed results of the scoring engine service checks.</p>

    <ScoreboardFeedback />
  </div>
{/await}
