<script lang="ts">
  import { Alert, Badge, Table } from 'sveltestrap';
  import { Gql } from '@db';
  import Feedback from './Feedback.svelte';
  import type { Team } from '@models/Team';
  import BlueteamSelect from '../Utils/BlueteamSelect.svelte';
  import type { ScoreBoardServiceStatus } from '@models/Service';
  import { ServiceFeedbackQuery } from '@models/Service';
  import { EventRole } from '@auth/models';
  import { keycloak } from '@stores';

  let selectedTeam: Team | undefined = undefined;
  let scoreboardFeedback: Array<ScoreBoardServiceStatus>;
  let currentSub: () => void | null = null;

  $: scoreboardFeedback = Array<ScoreBoardServiceStatus>();
  $: initScoreboardFeedback(selectedTeam);

  async function initScoreboardFeedback(team: Team | undefined) {
    if (typeof currentSub === 'function') {
      currentSub();
      currentSub = null;
    }

    if (!team) return;

    currentSub = Gql.subscribeSimple<{ scoreboard_service_status: Array<ScoreBoardServiceStatus> }>(
      `subscription ${ServiceFeedbackQuery(
        team,
        $keycloak.authenticated && !$keycloak.isRole(EventRole.Participant),
        $keycloak.authenticated && !$keycloak.isRole(EventRole.Participant),
      )}`,
      (value) => (scoreboardFeedback = value.scoreboard_service_status),
    );
  }
</script>

<BlueteamSelect bind:selectedTeam />

<!-- If we don't see the staff property default to participant -->
{#key selectedTeam}
  {#if scoreboardFeedback.length > 0}
    <Table>
      <tbody>
        {#each scoreboardFeedback as sf}
          <!-- Header Row -->
          <tr>
            <td>
              <h5>
                {sf.check.display_name}
                <Badge color="secondary">{sf.result_code}</Badge>
              </h5>
            </td>
          </tr>

          <!-- Participant Feedback Row -->
          <tr>
            <td>
              {#if sf.participant}
                <Feedback feedback={sf.participant} />
              {:else}
                <Alert color="warning">No Feedback Available!</Alert>
              {/if}
            </td>
          </tr>

          <!-- Staff Feedback -->
          {#if sf.staff}
            <tr>
              <td class="border border-warning">
                <Badge color="warning">Staff Feedback</Badge>
                <Feedback feedback={sf.staff} />
              </td>
            </tr>
          {/if}
          <!-- Scoring Execution Details -->
          {#if sf.data}
            <tr>
              <td class="border border-danger">
                <Badge color="danger">Execution Details</Badge>
                <Feedback feedback={sf.data} />
              </td>
            </tr>
          {/if}
        {/each}
      </tbody>
    </Table>
  {:else if selectedTeam !== undefined}
    <p>No feedback available.</p>
  {/if}
{/key}

<style>
  /* Unset row-specific items for this component */
  .table tbody tr:hover {
    background-color: unset;
  }

  .table tbody tr:nth-of-type(2n + 1) {
    background-color: unset;
  }
</style>
