<script lang="ts">
  import TaskBoard from '@components/TaskBoard/TaskBoard.svelte';
  import { requireEventStarted } from '@auth/PermissionRequired';
  import CreateTaskModal from '@components/TaskBoard/CreateTaskModal.svelte';
  let createTaskModal: CreateTaskModal;
  const ready = requireEventStarted();

  let taskOptions = [
    { status: 'Not Started', headerColor: 'rgba(0, 145, 124, 1)' },
    { status: 'In Progress', headerColor: 'rgba(42, 159, 214, 1)' },
    { status: 'Completed', headerColor: 'rgba(24, 77, 71, 1)' },
  ];
</script>

<svelte:head>
  <title>Task Board</title>
</svelte:head>

{#await ready then ev}
  <div class="container">
    <CreateTaskModal bind:this={createTaskModal} {taskOptions} />
  </div>

  <div class="container-fluid">
    <div class="d-flex justify-content-between">
      <h1>Task Board</h1>
      <button
        type="button"
        on:click={() => createTaskModal.show()}
        class="btn btn-secondary btn-create-task h-25 mt-3"
        data-toggle="modal">+ New Task</button
      >
    </div>
    <TaskBoard {taskOptions} />
  </div>
{/await}
