<script lang="ts">
  import requireRole from '@auth/PermissionRequired';
  import { EventRole } from '@auth/models.js';
</script>

<!-- todo require attacker for this suite of tools -->
{#await requireRole(EventRole.Staff)}
  Loading...
{:then _}
  <slot />
{/await}
