<script lang="ts">
  import BlueteamDashboard from '@components/BlueteamDashboard/BlueteamDashboard.svelte';
  import { requireEventStarted, requireTeam } from '@auth/PermissionRequired';
</script>

<svelte:head>
  <title>Dashboard</title>
</svelte:head>

<div class="container-fluid mt-2" use:requireEventStarted use:requireTeam>
  <h4 class="page-header">Dashboard</h4>

  <BlueteamDashboard />
</div>
