<script lang="ts">
  import requireRole from '@auth/PermissionRequired';
  import { EventRole } from '@auth/models.js';
</script>

{#await requireRole(EventRole.Staff)}
  Loading...
{:then _}
  <slot />
{/await}
