<script lang="ts">
  import type { KanbanTask } from '../../models/Kanban';
  import { Button, Modal, ModalBody } from 'sveltestrap';
  import type { TeamUser } from '../../models/Team';
  import { onMount } from 'svelte';
  import { getTeammates } from '../../models/Team';
  import { team } from '../../stores';
  import { updateTaskAssignee } from '../../models/Kanban.js';

  export let task: KanbanTask;
  export let options: TeamUser[] = [];
  export let open = false;
  let selectedUserId: string;

  onMount(async () => {
    if (!options || options.length === 0) options = await getTeammates($team?.id);
    else console.debug('skipped fetching teams');
  });

  export function show(task_?: KanbanTask) {
    if (task_) task = task_;
    open = true;
  }

  export function hide() {
    open = false;
  }

  export function toggle() {
    if (open) hide();
    else show();
  }

  async function submit() {
    await updateTaskAssignee(task.id, selectedUserId);
    hide();
  }
</script>

<Modal isOpen={open} {toggle}>
  <div class="modal-header">
    <h5 class="modal-title w-100">
      Assign {task.title}
    </h5>
  </div>
  <ModalBody>
    <select bind:value={selectedUserId} class="form-select" aria-label="Default select example">
      {#each options as user}
        <option value={user.email}>{user.first_name} {user.last_name} - {user.email}</option>
      {/each}
    </select>
    <Button color="primary" on:click={submit}>Submit</Button>
  </ModalBody>
</Modal>
