<script lang="ts">
  import {
    Button,
    Dropdown,
    DropdownItem,
    DropdownMenu,
    DropdownToggle,
    FormGroup,
    Input,
    InputGroup,
    InputGroupText,
    Modal,
  } from 'sveltestrap';
  import { eventId, keycloak, team } from '../../stores';
  import { createKanbanTask } from '../../models/Kanban';

  export let open = false;
  export let taskOptions;
  export let onClose;
  export let selectedStatus = taskOptions[0].status;
  export let task;
  let assignSelf = true;
  let title = '';
  let description = '';

  function saveTask() {
    createKanbanTask({
      assignee: assignSelf ? $keycloak.tokenParsed?.email : null,
      created_by: $keycloak.tokenParsed?.email,
      title,
      description,
      status: selectedStatus,
      team_id: $team?.id || null,
      event_id: $eventId,
    });
  }

  export function show() {
    open = true;
  }

  export function hide() {
    open = false;
    if (onClose) {
      onClose();
    }
  }
  export function toggle() {
    // call functions so callbacks are handled
    if (open) hide();
    else show();
  }
</script>

<Modal isOpen={open} {toggle} size="lg">
  <div class="modal-content">
    <div class="modal-header">Create New Task</div>
    <div class="modal-body">
      <FormGroup>
        <InputGroup class="mb-3">
          <InputGroupText>Title</InputGroupText>
          <Input bind:value={title} class="bg-white text-dark" />
        </InputGroup>
        <InputGroup class="mb-3">
          <InputGroupText>Description</InputGroupText>
          <Input bind:value={description} class="bg-white text-dark" />
        </InputGroup>
        <InputGroup class="mb-3">
          <Input type="switch" bind:checked={assignSelf} class="clickable" label="Assign Self" />
        </InputGroup>
        <!-- todo staff dropdown for selecting team -->
        <Dropdown class="mb-3">
          <DropdownToggle caret>{selectedStatus ? selectedStatus : 'Set Status'}</DropdownToggle>
          <DropdownMenu>
            {#each taskOptions as op}
              <DropdownItem
                class="clickable"
                on:click={() => {
                  selectedStatus = op.status;
                }}
              >
                {op.status}
              </DropdownItem>
            {/each}
          </DropdownMenu>
        </Dropdown>
      </FormGroup>
    </div>
    <div class="modal-footer">
      <Button on:click={saveTask} class="bg-primary text-white justify-content-end">Create</Button>
    </div>
  </div>
</Modal>
