<script lang="ts">
  import TaskCard from '@components/TaskBoard/TaskCard.svelte';
  import { KanbanQuery } from '@models/Kanban';
  import { onMount } from 'svelte';
  import { Gql } from '../../db';
  import { Input } from 'sveltestrap';
  import { keycloak } from '../../stores';
  import AssignTaskModal from './AssignTaskModal.svelte';
  import type { KanbanTask } from '../../models/Kanban';

  export let taskOptions;
  let tasks: KanbanTask[] = [];
  $: displayedTasks = assignedSelf ? tasks.filter((t) => t.assignee === $keycloak.tokenParsed?.email) : tasks;
  let assignTask: (t: KanbanTask) => void;
  let assignedSelf = false;

  onMount(async () => {
    await Gql.subscribeSimple(`subscription ${KanbanQuery}`, (data) => {
      tasks = data.scoreboard_kanban;
    });
  });
  export async function drop(event, droppedStatus) {
    event.preventDefault();
    const taskId = event.dataTransfer.getData('text/plain');
    console.log('task', taskId);
    console.log('column', droppedStatus);
    await Gql.query(
      `mutation UpdateKanbanStatus {
      update_scoreboard_kanban_by_pk(
        pk_columns: {id: ${JSON.stringify(taskId)}},
        _set: {status: ${JSON.stringify(droppedStatus)}}
      ) {
        id, status
      }
    }`,
    );
  }
</script>

<AssignTaskModal bind:show={assignTask} />

<div>
  <Input label="Assigned to me" class="clickable" type="switch" bind:checked={assignedSelf} />
</div>

<div class="row gx-1 h-100">
  {#each taskOptions as option}
    <div
      class="col mx-2 rounded bg-opacity-25"
      style="background-color: rgba(0, 0, 0, .50)"
      on:dragover={(event) => event.preventDefault()}
      on:drop={(event) => drop(event, option.status)}
    >
      <h3 class="rounded-top text-center pt-2" style="height: 45px; background-color: {option.headerColor}; ">
        {option.status}
      </h3>
      {#each displayedTasks as task}
        {#if option.status === task.status}
          <TaskCard {assignTask} {task} />
        {/if}
      {/each}
    </div>
  {/each}
</div>
