<script lang="ts">
  import TaskColumns from '@components/TaskBoard/TaskColumns.svelte';
  export let taskOptions;
</script>

<div class="container-fluid bg-dark rounded p-4" style="height: 800px;">
  <TaskColumns {taskOptions} />
</div>
