<script lang="ts">
  import SvelteMarkdown from 'svelte-markdown';
  import { keycloak, team } from '../../stores.js';
  import Code from '../Utils/Code.svelte';
  import CodeSpan from '../Utils/CodeSpan.svelte';
  import { updateTaskAssignee, type KanbanTask } from '../../models/Kanban.js';
  import { Badge } from 'sveltestrap';
  import { getTeammates } from '../../models/Team';

  export let task;
  export let assignTask: null | ((t: KanbanTask) => void) = null;
  export function dragStart(event, taskId) {
    event.dataTransfer.setData('text/plain', taskId);
  }

  const renderers = {
    code: Code,
    codespan: CodeSpan,
  };
</script>

<div class="card m-3" draggable="true" on:dragstart={(event) => dragStart(event, task.id)}>
  <div class="card-header">
    <SvelteMarkdown source={task.title} {renderers} />
  </div>
  <div class="card-body">
    <SvelteMarkdown source={task.description} {renderers} />
    {#if task.ctf_challenge?.challenge?.description}
      <hr style="border-color: white" />
      <SvelteMarkdown source={task.ctf_challenge?.challenge?.description} {renderers} />
    {/if}
  </div>
  <div class="card-footer d-flex flex-row justify-content-between">
    <div class="d-flex flex-column">
      {#if task.assignee}
        Assigned To:
        <code>{task.assignee}</code>
      {/if}
    </div>
    <div class="d-flex flex-column ms-auto">
      {#if task.assignee !== $keycloak?.tokenParsed?.email && $keycloak?.tokenParsed?.email}
        <small on:click={() => updateTaskAssignee(task.id, $keycloak.tokenParsed.email)}>
          <Badge color="primary" class="clickable m-1 float-end">Assign Self</Badge>
        </small>
      {/if}
      {#if assignTask}
        <small on:click={() => assignTask(task)}>
          <Badge color="primary" class="clickable m-1 float-end">Assign Task...</Badge>
        </small>
      {/if}
    </div>
  </div>
</div>
