<script lang="ts">
  import { GetEventSettings } from '@models/EventSettings';
  import TeamChallengeSummary from '@components/Challenges/TeamChallengeSummary.svelte';
  import { requireEventStarted, requireTeam } from '@auth/PermissionRequired';
  import { onMount } from 'svelte';
  import { Gql } from '@db';
  import type { TeamVariables } from '@models/Variables';
  import { eventId, keycloak } from '@stores';

  let eventSettings = GetEventSettings($eventId);

  async function getTeamVars() {
    const data = await Gql.query<{ variables_team: TeamVariables[] }>(
      `query BlueteamDashVariableQuery {
        variables_team(
          where: {
            team: {members: {user_id: {_eq: ${JSON.stringify($keycloak?.userID)}}}}
          }) {
          vars
          team_id
        }
      }`,
    );
    return data.variables_team[0].vars;
  }

  function getBlueshellUser() {
    let ret = null;
    try {
      ret = $keycloak?.tokenParsed?.email.split('@')[0];
    } catch {}
    return ret ? 'username ' + ret : 'portion of your email address before the @';
  }
</script>

{#await eventSettings}
  <p>Loading...</p>
{:then ev}
  <div class="row">
    <div class="col-md-6">
      <p>
        <b>Team Password:</b>
        {#await getTeamVars()}
          Loading...
        {:then vars}
          <code>{vars.password}</code>
        {/await}
        <br />
        This password can be used to login to the Blueteam Shell Jumphost using the {getBlueshellUser()}.
      </p>

      <p>Remember:</p>
      <ul>
        <li>Scoring and infrastructure status: <a href="/scoreboard">Scoring Page</a></li>
        <li>
          CTF challenges and submissions go here: <a href="/challenges">Challenges Page</a> (challenges themselves may be
          hosted on separate servers)
        </li>
        <li>
          Use your team's Discord channel to communicate with each other, and store important info like credentials.
        </li>
        <li>
          The only others that can see your Discord channel are Black Team members, who are there to help if you have
          questions or requests.
        </li>
        <li>
          Be sure to check <a href={ev.info_link} class="text-warning">{ev.info_link}</a> for links, information, topology
          diagrams, requirements for infrastructure scoring, and more!
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <h5 class="page-header">CTF Progress</h5>
      <TeamChallengeSummary />
    </div>
  </div>
{:catch e}
  <h1>Event not found!</h1>
  <p>We couldn't find your selected event; please select one from the NavBar!</p>
{/await}
