<script lang="ts">
  import '../../app.scss';
  import '../sandbox.scss';
  import NavBar from '@components/Sandbox/SandboxNavbar.svelte';
</script>

<NavBar />

<div class="container-fluid">
  <slot />
</div>
