<script lang="ts">
  import { onMount } from 'svelte';
  import {
    Collapse,
    Navbar,
    NavbarToggler,
    Nav,
    NavItem,
    NavLink,
    Dropdown,
    DropdownToggle,
    DropdownMenu,
    DropdownItem,
    NavbarBrand,
  } from 'sveltestrap';
  import { eventId, keycloak, team } from '@stores';
  import type { EventConfiguration } from '@models/EventConfigurations';
  import Countdown from './Countdown.svelte';
  import { EventRole } from '@auth/models';
  import { Gql } from '@db';
  import { loginWithRedirect } from '@auth/PermissionRequired';
  import { EventCfgByIdQuery } from '@models/EventConfigurations';
  import { faFileImport, faServer, faSliders, faStar, faUserPlus } from '@fortawesome/free-solid-svg-icons';
  import Fa from 'svelte-fa';

  let isOpen = false;
  let eventCfg: EventConfiguration | null = null;

  onMount(() => {
    Gql.subscribeSimple<{ events_by_pk: EventConfiguration }>(
      `subscription ${EventCfgByIdQuery($eventId)}`,
      (data) => (eventCfg = data.events_by_pk),
    );
  });

  function handleUpdate(event) {
    isOpen = event.detail.isOpen;
  }
</script>

<Navbar expand="lg" class="custom-navbar">
  <NavbarBrand class="navbar-brand-with-counter text-white">
    {#if eventCfg != null}
      {#key eventCfg}
        <Countdown {eventCfg} id="nav-countdown" placement="bottom" size={8} />
      {/key}
    {/if}
    {eventCfg ? eventCfg.name : 'Hackathon'}
  </NavbarBrand>
  <NavbarToggler on:click={() => (isOpen = !isOpen)} />
  <Collapse {isOpen} navbar expand="lg" on:update={handleUpdate}>
    <Nav class="mr-auto" navbar>
      <NavItem>
        <NavLink class="link-underline" href="/">Home</NavLink>
      </NavItem>
      <NavItem>
        <NavLink class="link-underline" href="/dashboard">Dashboard</NavLink>
      </NavItem>
      <NavItem>
        <NavLink class="link-underline" href="/scoreboard">Scoreboard</NavLink>
      </NavItem>
      <NavItem>
        <NavLink class="link-underline" href="/challenges">Challenges</NavLink>
      </NavItem>
      <NavItem>
        <NavLink class="link-underline" href="/service-feedback">Service Details</NavLink>
      </NavItem>
      <NavItem>
        <NavLink class="link-underline" href="/task-board">Task Board</NavLink>
      </NavItem>
    </Nav>
    <Nav navbar class="ms-auto">
      {#if $keycloak.authenticated}
        <Dropdown nav inNavbar>
          <DropdownToggle nav caret>
            {$keycloak.tokenParsed.name || $keycloak.tokenParsed.email}
            {$team ? `- ${$team.name}` : ''}
          </DropdownToggle>
          <DropdownMenu end>
            {#if $keycloak.isRole(EventRole.Staff)}
              <DropdownItem href="/staff/event-info">Event Info</DropdownItem>
              <DropdownItem href="/staff/service-period-status">Service Period Status</DropdownItem>
              <DropdownItem divider />
            {/if}
            {#if $keycloak.isRole(EventRole.CTFAdmin)}
              <DropdownItem href="/staff/ctf/dashboard">CTF Dashboard</DropdownItem>
              <DropdownItem href="/staff/ctf/challenges">Edit CTF Challenges</DropdownItem>
              <DropdownItem divider />
            {/if}
            <!-- todo change this back to attacker after 2023 finals -->
            {#if $keycloak.isRole(EventRole.Staff)}
              <DropdownItem href="/staff/attacker/dashboard">Attacker Dashboard</DropdownItem>
              <DropdownItem divider />
            {/if}
            {#if $keycloak.isRole(EventRole.EventAdmin)}
              <DropdownItem href="/admin/teams"><Fa icon={faUserPlus} /> Edit Teams</DropdownItem>
              <DropdownItem href="/admin/event-configuration/tapi-import">
                <Fa icon={faFileImport} /> Import TAPI Event
              </DropdownItem>
              <!-- <DropdownItem href="/admin/event-configuration"><Fa icon={faServer} /> Configure Event</DropdownItem>-->
              <DropdownItem href="/admin/services"><Fa icon={faServer} /> Edit Checks</DropdownItem>
              <DropdownItem href="/admin/bonuses"><Fa icon={faStar} /> Award/Dock Points</DropdownItem>
              <DropdownItem divider />
              <DropdownItem href="/admin/event-configuration/variables/check">
                <Fa icon={faSliders} /> Check Variables
              </DropdownItem>
              <DropdownItem href="/admin/event-configuration/variables/event">
                <Fa icon={faSliders} /> Event Variables
              </DropdownItem>
              <DropdownItem href="/admin/event-configuration/variables/team">
                <Fa icon={faSliders} /> Team Variables
              </DropdownItem>
              <DropdownItem divider />
            {/if}
            <DropdownItem href="/dashboard">Dashboard</DropdownItem>
            <DropdownItem href="/service-feedback">Service Feedback</DropdownItem>
            <DropdownItem divider />

            <DropdownItem
              class="clickable"
              on:click={() => {
                $keycloak.logout();
              }}>Logout</DropdownItem
            >
          </DropdownMenu>
        </Dropdown>
      {:else}
        <NavItem>
          <NavLink href="javascript:void(0)" on:click={loginWithRedirect}>Login</NavLink>
        </NavItem>
      {/if}
    </Nav>
  </Collapse>
</Navbar>
