<script lang="ts">
  import ScoreChart from '@components/ScoreChart/ScoreChart.svelte';
  import ServiceStatusTable from '@components/ServiceStatusTable/ServiceStatusTable.svelte';
  import { Input } from 'sveltestrap';

  let visibleTeams = {};
  function handleHideTeam(teamId) {
    visibleTeams[teamId] = false;
  }

  let shortNames = false;
</script>

<div class="m-4">
  <Input class="clickable" type="switch" label="Short Names" bind:checked={shortNames} />
</div>
<div class="m-4">
  <ScoreChart {shortNames} {visibleTeams} />
</div>
<div class="m-4">
  <ServiceStatusTable {shortNames} onHideTeam={handleHideTeam} {visibleTeams} />
</div>
