<script lang="ts">
  import ChallengeList from '@components/Sandbox/ChallengeList.svelte';
  import { onMount } from 'svelte';
  import { getBundles, getEnvironments, getPveConfig } from '@utils/SandboxApi';
  import type { Bundle, Environment } from '@models/Sandbox';
  import { requireAuth } from '@auth/PermissionRequired';
  import { keycloak } from '@stores';
  import type { PveConfig } from '@models/Sandbox';

  let bundles: Bundle[];
  let environments: Environment[] = [];
  let pveConfig: PveConfig;

  let ready;

  // wait for authentication and all data to be loaded
  onMount(() => {
    ready = Promise.all([loadChallenges(), getPveConfig().then((data) => (pveConfig = data))]);
  });

  /**
   * Load Bundles and Environments for the current user
   */
  async function loadChallenges(): Promise<Awaited<any>> {
    return Promise.all([
      getBundles({ active: true }).then((data) => {
        bundles = data;
      }),
      getEnvironments({ owner: $keycloak.tokenParsed?.email }).then((data) => {
        environments = data;
      }),
    ]);
  }
</script>

<div class="justify-content-center mx-auto" use:requireAuth>
  <h1>NCAE Cyber Games Sandbox Challenges</h1>
  {#await ready}
    <p>loading...</p>
  {:then ev}
    <ChallengeList {bundles} {environments} {pveConfig} updateChallenges={loadChallenges} />
  {:catch e}
    <p>Failed to load challenges</p>
  {/await}
</div>
