<script>
  import requireRole from '@auth/PermissionRequired';

  import { EventRole } from '@auth/models';
  import CtfDashboard from '@components/CtfDashboard/CtfDashboard.svelte';

  requireRole(EventRole.CTFAdmin);
</script>

<div class="container-fluid">
  <h1 class="pt-2">CTF Dashboard</h1>

  <CtfDashboard />
</div>
