<script lang="ts">
  import { createEventDispatcher, onMount } from 'svelte';
  import { Dropdown, DropdownItem, DropdownMenu, DropdownToggle } from 'sveltestrap';
  import { GetAllEnabledBlueTeams } from '@queries/Team';
  import type { Team } from '@models/Team';
  import { eventId } from '@stores';

  const dispatch = createEventDispatcher();
  // Whether to select disabled teams from database
  export let blueteams: Array<Team> = [];
  export let selectedTeam: Team | null = null;

  onMount(async () => {
    await initBlueTeams();
  });

  async function initBlueTeams() {
    blueteams = await GetAllEnabledBlueTeams($eventId);
  }
</script>

<Dropdown class="mb-2 d-inline-block" setActiveFromChild>
  <DropdownToggle caret>{selectedTeam ? selectedTeam.name : 'Select team'}</DropdownToggle>
  <DropdownMenu>
    {#each blueteams as bt}
      <DropdownItem
        class="clickable"
        on:click={() => {
          selectedTeam = bt;
          dispatch('click');
        }}
      >
        {bt.name}
      </DropdownItem>
    {/each}
  </DropdownMenu>
</Dropdown>
