<script lang="ts">
  import type { ActiveChallenge } from '@models/Challenges';
  import { Alert, Badge, Button, Input, InputGroup, Modal, ModalBody } from 'sveltestrap';
  import SvelteMarkdown from 'svelte-markdown';
  import Code from '@components/Utils/Code.svelte';
  import CodeSpan from '@components/Utils/CodeSpan.svelte';
  import { SubmitFlag } from '@models/Challenges';
  import type { NullableEventRole } from '@auth/models';
  import type { Color } from 'sveltestrap/src/shared';
  import ChallengeFileDownload from '@components/Challenges/ChallengeFileDownload.svelte';
  import { keycloak, team, eventId } from '@stores';
  import { createKanbanTask, type KanbanTask } from '../../models/Kanban';
  import { getNotificationsContext } from 'svelte-notifications';
  import AssignTaskModal from '../TaskBoard/AssignTaskModal.svelte';

  const { addNotification } = getNotificationsContext();

  export let challenge: ActiveChallenge;
  export let queryRole: NullableEventRole = null;
  export let open: boolean = false;
  let flag: string;
  let flagInner: HTMLElement;
  let alertMessage: string | null;
  let alertColor: string | null;
  let submissionDisabled: boolean;
  let assignTask: (t: KanbanTask) => void;
  $: submissionDisabled = challenge?.solves?.length > 0;
  const renderers = {
    code: Code,
    codespan: CodeSpan,
  };

  export function show(challengeToShow: ActiveChallenge) {
    challenge = challengeToShow;
    // reset some values on show
    alertMessage = null;
    flag = '';
    open = true;
  }

  export function hide() {
    open = false;
  }

  export function toggle() {
    if (open) hide();
    else show(challenge);
  }

  async function submitFlag() {
    if (!flag) {
      setAlert('Flag not submitted: No Flag was supplied!', 'warning');
      return;
    }
    if (!$team) {
      setAlert('Flag not submitted: Could not determine your team!', 'danger');
      return;
    }
    let response;
    try {
      response = await SubmitFlag({
        flag,
        team: $team,
        challenge,
        submitter: $keycloak?.userEmail,
        queryOptions: { queryRole },
      });
    } catch (err) {
      if (err && err[0]?.message) {
        const message = err[0].message;
        if (message.startsWith('Uniqueness violation'))
          setAlert(
            `This flag is incorrect, and has already been submitted. The challenge is not yet solved - keep trying! '${flag}'`,
            'warning',
          );
        else setAlert(`Failed to submit flag '${flag}': ${message}`, 'warning');
        return; // return early
      } else {
        setAlert(
          `Something went wrong submitting flag '${flag}', please sent a screenshot of browser console to staff`,
          'danger',
        );
        throw err;
      }
    }

    if (response?.length > 0) {
      setAlert('Correct!', 'success');
    } else {
      setAlert(`Flag is incorrect: '${flag}'`, 'danger');
    }
  }

  function setAlert(message: string, color: Color) {
    alertMessage = message;
    alertColor = color;
  }

  function onOpen() {
    flagInner.focus();
  }

  async function createCtfKanbanTask() {
    let result = await createKanbanTask({
      assignee: $keycloak.tokenParsed?.email || null,
      created_by: $keycloak.tokenParsed?.email,
      title: `[CTF] ${challenge.challenge?.name}`,
      description: `Complete the CTF challenge ${challenge.challenge.name}`,
      status: 'In Progress',
      team_id: $team?.id || null,
      event_id: $eventId,
      ctf_challenge_id: challenge.challenge_id,
    });

    addNotification({
      text: `Task Created & Assigned to ${$keycloak.tokenParsed?.email}`,
      position: 'bottom-right',
      removeAfter: 3000,
    });

    if (!challenge.kanban_tasks) challenge.kanban_tasks = [];
    challenge.kanban_tasks.push(result);
    // todo the ui doesn't update correctly, so we just close the modal
    open = false;
  }
</script>

<AssignTaskModal bind:show={assignTask} />

<Modal on:open={onOpen} isOpen={open} {toggle}>
  <div class="modal-header">
    <h5 class="modal-title w-100">
      <div class="d-flex flex-row justify-content-between">
        <div class="d-flex flex-column m-2">
          {challenge.challenge.name}
          <br />
          <small>
            Designed By: {challenge.challenge.designer}
          </small>
        </div>
        <div class="d-flex flex-column m-2">
          Points: {challenge.points}
          {#if !challenge.kanban_tasks?.length}
            <small class="clickable" on:click={createCtfKanbanTask}>
              <Badge color="success">Create Kanban Task</Badge>
            </small>
          {/if}
        </div>
      </div>
      <div class="d-flex flex-row justify-content-between mx-2">
        <div class="d-flex flex-column">
          {#if challenge.kanban_tasks?.length}
            <small>
              Assigned to:
              <code>
                {challenge.kanban_tasks[0].assignee}
              </code>
            </small>
          {/if}
        </div>
        <div class="d-flex flex-column">
          {#if challenge.kanban_tasks?.length}
            <small
              class="clickable"
              on:click={() => {
                open = false;
                assignTask(challenge.kanban_tasks[0]);
              }}
            >
              <Badge color="primary">Reassign</Badge>
            </small>
          {/if}
        </div>
      </div>
    </h5>
  </div>
  <ModalBody>
    <SvelteMarkdown source={challenge.challenge.description} {renderers} />
    {#if challenge.files.length > 0}
      {#each challenge.files as file}
        <ChallengeFileDownload {file} />
      {/each}
    {/if}
  </ModalBody>
  <div class="d-flex flex-column m-3">
    <div class="d-flex flex-row justify-content-end">
      <InputGroup>
        <Input
          on:keyup={(e) => {
            if (e.code === 'Enter' || e.code === 'NumpadEnter') submitFlag();
          }}
          bind:inner={flagInner}
          bind:value={flag}
          bind:disabled={submissionDisabled}
          placeholder={submissionDisabled ? 'Challenge Solved!' : 'c2ctf{flag}'}
        />
        <Button disabled={submissionDisabled} on:click={submitFlag} color="primary">Submit Flag</Button>
      </InputGroup>
    </div>
    <div class="alertDiv mt-3">
      <Alert color={alertColor} isOpen={!!alertMessage} fade={true}>
        {alertMessage}
      </Alert>
    </div>
  </div>
</Modal>
