<script>
  import Scoreboard from '@components/Scoreboard/Scoreboard.svelte';
  import { requireEventStarted } from '@auth/PermissionRequired';

  const ready = requireEventStarted();
</script>

<svelte:head>
  <title>Scoreboard</title>
</svelte:head>

{#await ready}
  <div>loading...</div>
{:then ev}
  <Scoreboard />
{/await}
